<div align="center"><h1>Trips</h1></div>

<div class="action" align="center">  
<%= link_to 'Create new Trip', new_user_trip_path %>
</div><br/>

<div class="action" align="center">  
  <%= link_to 'Find Trip Buddies', all_user_trips_path %>
</div><br/>

<div class="action" align="center">  
  <%= submit_tag("Meet Trip Buddies", name: "chat")%>
</div><br/>

<div class="action" align="center"> 
<%= link_to 'Edit Existing Trips', all_user_trips_path %>
</div>
